NODE_ENV=development
PORT=3000
MONGODB_URI=
MONGODB_DB_NAME=decktype-dev
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
FRONTEND_ORIGIN=http://localhost:5173
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_OWNER=d1rshan
GITHUB_REPO=decktype
GITHUB_TOKEN=
ADMIN_EMAILS=
